*{
    padding: 0px;
    margin: 0px;
}
#header{
    width: 100%;
    height: 100vh;
    background-color: rgb(214, 140, 50);
    background-image: url(./background2222.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;    
    box-shadow: 0px 10px 10px black;
}
#navbar{
      display: flex;
      list-style: none;
      color: black;
      padding-top: 20px;
      padding-left: 20px;
     
}
.sublist{
    padding-left: 40px;
    font-size: 30px;
    transition: transform 1.2s;
   
    
    
}
.sublist:hover{
    transform: scale(1.2);
    color: red;
}
#right{
    position: absolute;
    right: 40px;
    color: black;
    
}
#containerplaces{
    width: 50vw;
    height: 75vh;
    position: absolute;
    right: 70px;
    bottom: 50px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}
.places{
    width: 20vw;
    height: 32vh;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    transition: transform 1.0s;
}
#places1{
    background-image: url(./india\ \(2\).jpg);
}
#places2{
    background-image: url(./japan2.jpg);
}
#places3{
    background-image: url(./singapore.jpg);
}
#places4{
    background-image: url(./portugal.jpg);
    
}
.places:hover{
    background-image: 111% 35vh;
    transform: scale(1.3);
    
}
.plname{
    font-size: 28px;
    color: transparent;
    text-shadow: 0px 0px 3px ;
    transition: font-size 1.2s;
    text-transform:uppercase ;

}
.plname:hover{
    font-size: 36px;
    color: white;
    color: transparent;

}
#heading{
    width: 45vw;
    height: 80vh;
    position:absolute;
    left: 0px;
    bottom: 2px;
}
#textheading{
    font-size: 10vw;
    letter-spacing: 20px;
    word-spacing: 40px;
    position: absolute;
    bottom: 60px;
    left: 10px;
    color: white;
    text-shadow: 2px 2px 4px black;
}
.CountryHistroy{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
#logout{
    text-decoration: none;
    color: black;
    font-size: 40px;
    text-shadow: 4px 4px 4px black;
}
#clipFir{
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(gray,gray);
    overflow: hidden;
}
#subclipFir{
    clip-path: polygon(53% 0, 100% 0, 100% 100%, 0 100%);
    width: 100%;
   /* \]]background-color: chartreuse; */ 
   
}
#vid{
    width: 100%;
    overflow: hidden;
}
#frame{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
#clipFir2{
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(gray,gray);
    overflow: hidden;
}
#subclipFir2{
    clip-path: polygon(50% 0%, 100% 100%, 0 96%, 0 0);
   /* background-color: chartreuse; */ 
   
}
#vid2{
    width: 100%;
    overflow: hidden;
}
#frame2{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
#clipFir3{
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(gray,gray);
    overflow: hidden;
}
#subclipFir3{
   clip-path: polygon(54% 0, 100% 0, 100% 30%, 100% 70%, 100% 100%, 53% 100%, 0 100%, 0 100%);
   /* background-color: chartreuse; */ 
   
}
#vid3{
    width: 100%;
    overflow: hidden;
}
#frame3{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
#clipFir4{
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(gray,gray);
    overflow: hidden;
}
#subclipFir4{
    clip-path: polygon(50% 0%, 100% 100%, 0 96%, 0 0);
   /* background-color: chartreuse; */ 
   
}
#vid4{
    width: 100%;
    overflow: hidden;
}
#frame4{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
